.header {
    width: 93vw;
    margin-left: $space-x-large;
    display: flex;
    justify-content: space-around;
    border-bottom: $space-xxx-small solid $c-light-orchid-opacity;
    &__contact {
      background-color: $c-cerise-opacity;
      color: $c-white;
      padding: 0 $space-xs-small;
    }
    &__contact:hover {
      background-color: $c-white;
      color: $c-cerise-opacity;
    }
    &__nav {
      display: flex;
      position: relative;
      left: 25px;
    }
  }
  p.header__nav,
  img.header__nav {
    margin-right: $space-medium;
    cursor: pointer;
  }
  img.header__nav {
    width: $space-standard;
    height: $space-standard;
    margin-top: $space-small;
  }
  .bc_style:hover,
  .header__nav-hover:hover {
    font-size: pxToRem(20);
    transition: 0.1s linear;
  }