.pointer {
  cursor: pointer;
}
.bc_style {
  font-family: "Lobster", cursive;
}
.margin {
  margin: 0 $space-standard;
  padding: $space-xx-small $space-x-small;
  position: relative;
  right: 20px;
}
.border {
  border: 1px solid $c-cerise-opacity;
  border-radius: $space-x-large;
  background-color: none;
  transition: 0.1s linear;
}
.pink {
  color: $c-orchid-opacity;
}
.space {
  padding: 0 $space-standard;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.main{
  display: flex;
  justify-content: flex-end;
  height: $space-xxxxl-large;
  width: 93vw;
  margin-left: $space-x-large;
  margin-top: $space-xl-large;

  &__icon-1 {
    position: relative;
    width: $space-standard;
    height: $space-standard;
    top: -47px;
    left: 700px;
    transform: rotate(45deg);
  }
  &__icon-2 {
    position: relative;
    width: $space-medium;
    height: $space-medium;
    top: 325px;
    left: 304px;
    transform: rotate(-45deg);
  }
  &__icon-3 {
    position: relative;
    width: $space-x-large;
    height: $space-x-large;
    top: 100px;
    left: -100px;
    transform: rotate(-45deg);
  }
  &__icon-4 {
    position: relative;
    width: $space-x-large;
    height: $space-x-large;
    top: 390px;
    left: 750px;
    transform: rotate(45deg);
  }
&__text-wrapper {
  width: 36%;
  margin-top: 60px;
}
  &__position {
    position: relative;
    top: 30px;
    min-width: 345px;
  }
  &__letters {
    font-size: pxToRem(120);
    opacity: 0.1;
    position: relative;
    top: -45px;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__style-inline {
    position: relative;
    display: flex;
    justify-content: flex-start;
    min-width: 317px;
  }
  &__font {
  font-family: American Typewriter;
}
&__img {
  width: $space-xx-large;
  height: $space-xx-large;
  background-color: $c-white;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: 8px;
  right: -10px;
  img {
    border-radius: 50%;
    margin: $space-xs-small $space-xs-small;
  }
}
  &__photo {
    background-color: $c-cerise-opacity;
    width: 40%;
    height: 230px;
    margin: 60px 0px 60px 60px;
    border-top-left-radius: $space-xsxl-large;
    border-bottom-left-radius: $space-xsxl-large;
  }
}
.about {
  background-color: $c-gallery;
  height: 520px;
  &__background {
    background-color: $c-white;
    height: 402px;
  }
  &__content-wrapper {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    top: 50px;
  }
  &__footer-border {
    background: $c-white;
    height: $space-xxl-large;
    @include bottomRadius(50% 90px);
  }
  &__shadow {
    height: 420px;
    width: 75%;
    min-width: $space-super-large;
    box-shadow: 10px 0 15px -10px grey, -10px 0 15px -10px grey;
    @include bottomRadius(500px $space-medium);
    background-color: $c-white;
    margin: auto;
    z-index: 1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $c-cerise-opacity;
    border-top-left-radius: $space-x-small;
    border-top-right-radius: $space-x-small;
    height: $space-large;
    width: 75%;
    min-width: $space-super-large;
    margin: auto;
  }
  &__header-dot {
    min-width: $space-x-small;
    min-height: $space-x-small;
    border-radius: 50%;
    display: flex;
    margin: auto $space-xx-small;
  }
  &__text-about {
    margin: $space-x-small;
    color: $c-white;
  }
  &__text-header {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 110px;
  }
  &__border-left {
    width: 90%;
    position: relative;
    left: 63px;
    border-left: $space-xxx-small solid $c-gallery;
  }
  &__text-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: $space-standard;
  }
  &__content-skills {
    display: flex;
    width: $space-xxxl-large;
    position: relative;
    left: $space-large;
    border-left: $space-xxx-small solid $c-gallery;
    padding-left: $space-standard;
  }
  &__content-column {
    width: 70%;
    div {
      background-color: $c-alto;
      border-radius: $space-xx-small;
    }
    p {
      background-color: $c-cerise-opacity;
      border-top-left-radius: $space-xx-small;
      border-bottom-left-radius: $space-xx-small;
    }
  }
  &__content-numbers p {
    margin-left: $space-xx-small;
  }
  &__content-margin {
    margin-left: $space-xx-small;
    color: $c-white;
    font-family: sans-serif;
    font-size: pxToRem(13);
  }
}
.width98 {
  width: 98%;
}
.width90 {
  width: 90%;
}
.width75 {
  width: 75%;
}
.project {
  background-color: $c-steel-gray;
  position: relative;
  z-index: 2;
  &__wrapper {
    height: 641px;
    background-color: $c-gallery;
    @include bottomRadius(50% $space-xxl-large);
  }
  &__footer {
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: $space-xxx-small solid $c-charm-opacity;
    position: relative;
    top: 47px;
    left: 0;
    padding-top: 6px;
    border-top-right-radius: 42%;
    border-top-left-radius: 42%;
    h3::before {
      @include blackTriangle(left);
      border-right: 47vw solid transparent;
    }
    h3::after {
      @include blackTriangle(right);
      border-left: 47vw solid transparent;
    }
  }
  &__skills {
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    margin: auto;
    padding-top: $space-medium;
    p {
      padding: 3px $space-xs-small;
      cursor: pointer;
    }
    p:nth-child(3) {
      background-color: $c-cerise-opacity;
      border-radius: $space-xxxl-large;
      color: $c-white;
    }
    p:hover {
      font-size: pxToRem(20);
      transition: 0.1s linear;
    }
  }
  &__img {
    display: flex;
    flex-wrap: wrap;
    width: $space-super-large;
    height: $space-xxxxl-large;
    margin: $space-standard auto;
    justify-content: flex-start;
    img {
      width: 233px;
      height: $space-xsxl-large;
      border-radius: $space-x-small;
      cursor: pointer;
    }
  }
}
.project__skills p,
.about__content-column p {
  font-family: sans-serif;
  font-weight: lighter;
}
.contact {
    display: block;
    text-align: center;
    background-color: $c-steel-gray;
    height: 350px;
  &__email {
    background-color: $c-charm-opacity;
    color: $c-white;
  }
}
[data-aos="example-anim2"] {
  background-color: none;
  color: $c-cerise-opacity;
  transition-property: background-color, color;
  transition-delay: 1s;
}
[data-aos="example-anim2"].aos-animate {
  background-color: $c-cerise-opacity;
  color: $c-white;
}
